
.container__header {
    padding-bottom: 1rem;

    label {
        cursor: pointer;
    }
}

.container__message {
    color: $light-color;
    margin: 2rem auto;
    text-align: center;
}

.container__footer {
    padding-top: 3rem;
}
